@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import "tailwindcss";

body {
    font-family: "Fira Sans", sans-serif;
    color: #191C1E;
}

.navbar {
    box-shadow: 0px 1px 2px 0px #0000000D;
    backdrop-filter: blur(24px)
}
.containerGap {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  
  padding-left: 8px;   
  padding-right: 8px;
}


@media (min-width: 640px) {
  .containerGap {
    
    padding-left: 32px;  
    padding-right: 32px;
  }
}